body {
    background-image: url("landscape.jpeg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }
  
h1 {

    color:lavender;
    background-color:slategrey;
    opacity: 0.9;
    border-style: solid;
    border-width: 5px;
    padding: 10px;

    font-size: 50px;
}

h2 {

    color:lavender;
    background-color:slategrey;
    opacity: 0.9;
    border-style: solid;
    border-width: 5px;
    padding: 10px;

    font-size: 40px;
}

h3 {

    color:lavender;
    background-color:slategrey;
    opacity: 0.9;
    border-style: solid;
    border-width: 5px;
    padding: 10px;

    font-size: 30px;
}

p {

    color:lavender;
    background-color:slategrey;
    opacity: 0.9;
    padding: 10px;

    font-size: 20px;

  }

table, nav {

    color:slategray;
    background-color:floralwhite;
    border-style: solid;
    border-width: medium;
    padding: 10px;

    font-size: 20px;
}

img {
    height: 600px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

address {

    text-align: center;
    color:slategray;
    background-color:floralwhite;
    border-style: solid;
    border-width: medium;
    padding: 5px;
}

ul {

    color:lavender;
    background-color:slategrey;
    opacity: 0.9;
    border-style: solid;
    border-width: medium;
    padding: 10px;

    font-size: 15px;

}

pre {

    color:lavender;
    background-color:slategrey;
    opacity: 0.9;
    border-style: solid;
    border-width: medium;
    padding: 10px;

    font-size: 15px;

}